
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-gplus-circled:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-pinterest-circled:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-linkedin-circled:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-apple:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-youtube-squared:before { content: '\e80a'; } /* '' */