
.icon-star:before { content: '\e800'; } /* '' */
.icon-android:before { content: '\e801'; } /* '' */
.icon-win8:before { content: '\e802'; } /* '' */
.icon-apple:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-pinterest-circled:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */