/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    line-height: 26px;
    font-family: Arial, sans-serif;
    color: #848484;
}
p {
    font-size: 16px;
    color: #848484;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(34, 34, 34);
}
/* icons */

.icon {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    color: #fff;
}
.icon-s {
    font-size: 16px;
}
.icon-m {
    font-size: 22px;
}
.icon-l {
    font-size: 24px;
}
.icon-xl {
    font-size: 54px;
}
.page-header {
    width: 100%;
    min-height: 600px;
    background-image: url('../img/header_iphone.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px #d4213d solid;
}
.inner {
    width: 1000px;
    margin: 0 auto;
}
/* ==========================================================================
   Header
   ========================================================================== */

.header-content {
    padding-top: 140px;
    padding-left: 90px;
}
.logo {
    margin-bottom: 22px;
    font-family: 'Gochi Hand', sans-serif;
    font-size: 60px;
    color: #fff;
}
.dot {
    color: #d4213d;
}
.subtitle {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.systems-list {
    padding: 0;
    display: block;
}
.system-list__item {
    display: inline-block;
    margin-right: 12px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    opacity: 0.6;
    border-radius: 50%;
    transition: 1.5s ease;
}
.system-list__item a {
    height: 50px;
    width: 50px;
    display: block;
    cursor: url('../img/cursor.png'), auto;
}
.system-list__item:hover {
    background-color: #d4213d;
    opacity: 1;
}
/* ==========================================================================
   Main
   ========================================================================== */

.main-container {
    margin: 0;
}
/* features */

.features {
    margin: 30px auto 10px auto;
    padding: 20px 0;
}
.features-content:after {
	height: 0;
    clear: both;
    display: block;
    margin: 0;
    content: '';
}
.feature {
    width: calc((100% - 60px)/3);
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    text-align: center;
}
.feature:last-child {
    margin-right: 0;
}
.feature h3 {
    margin-bottom: 20px;
}
.feature p {
    padding: 0;
    font-weight: 400;
}
.feature-icon {
    width: 98px;
    height: 98px;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 98px;
    background-color: #d4213d;
}
/* get notified */

.get-notifed {
    min-height: 300px;
    padding: 40px 0;
    background-color: #e3e3e3;
}
.get-notifed .inner:after {
	height: 0;
	clear: both;
	display: block;
	margin: 0;
	content: '';
}
.get-notifed h3 {
    margin-bottom: 20px;
}
/* newsletter */

.get-notifed-newsletter {
    float: left;
    width: 50%;
}
.get-notifed-newsletter p {
    text-align: left;
}
.subscribe-form {
    position: relative;
    margin-top: 30px;
}
.subscribe-input {
    width: 260px;
    height: 55px;
    padding: 2px 24px;
    border: none;
    border-radius: 15px 0 0 15px;
    font-weight: normal;
    font-size: 18px;
}
.subscribe-submit {
    display: inline;
    position: absolute;
    padding: 2px;
    width: 140px;
    height: 59px;
    background-color: #d4213d;
    border: none;
    border-radius: 0 15px 15px 0;
    font-family: "Myriad Pro", sans-serif;
    font-size: 22px;
    color: #fff;
}
.subscribe-submit:hover {
    background-color: #ab0720;
    transition: all 0.75s ease-in;
}
/* video player */

.get-notifed-video {
    float: right;
    width: 50%;
}
.video-player {
    width: 400px;
    height: 260px;
    float: right;
    margin: 24px auto;
    border-radius: 5px;
}
/* testimonials */

.testimonials {
    text-align: center;
}
.testimonials-content {
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}
.testimonials h3 {
    margin-bottom: 20px;
}
/* cite */

.cite {
    line-height: 28px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
.author {
    display: block;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(46, 46, 46);
}
.carousel {
    padding: 20px 0;
}
/* social media */

.social-list {
    padding-bottom: 30px;
    display: block;
}
.social-list ul {
    list-style: none;
}
.social-list li {
    display: inline-block;
}
.social-list__item {
    margin-right: 4px;
    line-height: 34px;
    text-align: center;
    transition: 2s;
}
.social-list__item a {
    cursor: url('../img/cursor.png'), auto;
    height: 34px;
    width: 34px;
    display: block;
    background-color: #d4d4d4;
    border-radius: 50%;
}
.social-list__item a:hover {
    background-color: #df596e;
}
.social-list__item:hover {
    transform: rotateY(360deg);
}
/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    padding: 30px;
    text-align: center;
    background-color: #e3e3e3;
}
/* footer navigation */

.footer-list  {
    font-size: 16px;
}
.footer-list  ul {
    list-style: none;
}
.footer-list li {
    display: inline;
    padding: 0 16px;
}
.footer-list  a {
    color: #848484;
    text-decoration: none;
}
.footer-list  a:hover {
    color: #d4213d;
    text-decoration: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}